<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ Welcome }}</h1>
    <a href="/feedback">我要留言</a>
    <div style="border:1px solid black;">
        {{ each Messages }}
            <div>
                <span>{{ $value.name }}</span>:
                <span>{{ $value.message }}</span>
                <span>{{ $value.date }}</span>
            </div>
        {{ /each }}
    </div>
</body>
</html>